@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');


body{
    margin: 0;
    padding: 0;
    background-color: #3b4465;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;   
}
body section{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3em;
    line-height: 1.6;
    
}

nav .desktop{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    background-color: black;
    color: white;
}
nav .desktop .logo a{
    padding: 0;
}

nav .desktop .imglogo{
    width: 80px;
    margin: 0px;
    padding: 0;
}

nav .desktop .logo{
    margin: 10px;
}
nav .desktop a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    
}
nav .primary{
    display: flex;
}
nav .primary a:hover{
    display: flex;
    background-color: #003566;
    color: white;
}

nav .secondary a:hover{
    display: flex;
    background-color: #003566;
    color: white;
}

nav .secondary{
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding-right: 20px;
    
    
}

nav .secondary .registro{
   margin-right: 20px;
    
}

.title{
    text-align: center;
    font-size: 40px;
    color: white;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    max-width: 1200px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
}

.container .card{
    width: 330px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin:20px;
    background-color: #457b9d;
    text-align: center;
    transition: all 0.25s;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card:hover{
    transform:  translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 330px;
    height: 220px;
 }
 .container .card h4{
    font-weight: 600;
    color: white;
 }
.container .card p {
    padding: 0 1rem;
    font-size: 14px;
    font-weight: 200;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: plum; 
    padding: 0px 15px;
    border-radius: 30px;
    
    
}


nav .desktop a .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48
}


/*Login*/



.inicio {
  
    width: 100%;
    height:750px;
    background-color: #3b4465;
    text-align: center;
}

.inicio .usercreado{
  
  color: white;
  width: 400px;
  font-size: 20px;
  padding: 25px 0;
  border: 5px solid white;
  margin:0 auto;
  border-radius: 10px;
  

}

.inicio .welcome{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


input[type="text"], input[type="password"]{
    outline: none;
    padding: 15px;
    display: block;
    width: 350px;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    box-shadow: 10px 20px 15px;
}

input[type="submit"]{
    padding: 10px;
    color: #fff;
    background-color: #0098cb;
    width: 320px;
    margin-top: 40px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 20px 15px rgb(0, 0, 0);
}

input[type="submit"]:hover{
    background-color: #00b8eb;
}


/*footer*/

.footer-clean {
  padding:50px 0;
  background-color:#3b4465;
  color:white;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}   