@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

html{
  scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: #3b4465;
    width: 100%;
    
    font-family: 'Open Sans', sans-serif;   
}
body section{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3em;
    line-height: 1.6;
    background-color: #3b4465;
    padding-bottom: 40px;
    
}

nav .desktop{
 
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    background-color: black;
    color: white;
}
nav .desktop .logo a{
    padding: 0;
}

nav .desktop .imglogo{
    width: 80px;
    margin: 0px;
    padding: 0;
}

nav .desktop .logo{
    margin: 10px;
}
nav .desktop a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    
}
nav .primary{
    display: flex;
}
nav .primary a:hover{
    display: flex;
    background-color: #003566;
    color: white;
}

nav .secondary a:hover{
    display: flex;
    background-color: #003566;
    color: white;
}

nav .secondary{
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding-right: 20px;
    
    
    
}

nav .secondary .cerrarsesion{
    margin-bottom: 1px;
    padding:0 0 0 10px;
}

nav .secondary .registro{
   margin-right: 20px;
   margin-bottom: 1px;
    
}

.title{
  
    text-align: center;
    font-size: 60px;
    color: white;
    padding-top: 50px;
    font-weight: bold;
    
    font-family: 'Roboto', sans-serif;
}

.texto1{
  padding: 20px 0;
}

.texto1 p{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 0;
  width: 80%;
  margin: 0 auto;
}
.texto2{
  color: white;
  padding:60px 100px;
  text-align: center;
  font-size: 20px;
}

.container{
  
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
}

.container .card{
  
    width: 330px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin:20px;
    background-color: #457b9d;
    text-align: center;
    transition: all 0.25s;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card:hover{
    transform:  translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 330px;
    height: 220px;
 }
 .container .card h4{
    font-weight: 600;
    color: white;
 }
.container .card p {
    padding: 0 1rem;
    font-size: 14px;
    font-weight: 200;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

.container .card a {
  
    font-weight: 500;
    text-decoration: none;
    color: plum; 
    padding: 0px 15px;
    border-radius: 30px;
    
    
}


nav .desktop a .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48
}


/*Listar componentes*/

.listarcomponentes{
  background-color: #fff;
  text-align: center;
}
.listarcomponentes h1{
  padding: 30px 0;
  font-size: 60px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}
.listarcomponentes ul
{
  display: flex;
  background-color: #000000;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;

}

.listarcomponentes  #boton1{
  border: 0;
  border-radius: 5px;
  background: #000;
  color: white;
  cursor: pointer;
  padding: 10px;
}
.listarcomponentes li
{

text-align: center;
font-size: 20px;
font-weight: bold;
list-style: none;
background-color: #000000;
}

.listarcomponentes li a
{
text-decoration: none;
color: black;
padding: 7px;
font-family: Arial, Helvetica, sans-serif;
}



#idcpu1{
  display: block;
  width: 80%;
}
#idmadre1{
  display: none;
  width: 80%;
}
#idfuente1{
  display: none;
  width: 80%;
}

#iddisco1{
  display: none;
  width: 80%;
}
#idram1{
  display: none;
  width: 80%;
}
#idvideo1{
  display: none;
  width: 80%;
}

/*abouut*/

.about{
  position: relative;
}
.about .quienessomos{
  position: absolute;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  top: 50px;
  padding: 20px;
  left: 40%;
  border: 3px solid black;
  box-shadow: 	0px 3px 6px 3px rgba(0,0,0,0.12),
		0px 6px 10px 3px rgba(0,0,0,0.22),
		0px 9px 14px 3px rgba(0,0,0,0.2),
		0px 18px 16px 6px rgba(0,0,0,0.28);
  border-radius:	6px;  
}
.about .nosotrossomos{
  position: absolute;
  top: 200px;
  width: 900px;
  font-size: 24px;
  left: 30%;
  padding: 10px;
  text-align: justify;
  text-justify: inter-word;
  border: 3px solid black;
  box-shadow: 	0px 3px 6px 3px rgba(0,0,0,0.12),
		0px 6px 10px 3px rgba(0,0,0,0.22),
		0px 9px 14px 3px rgba(0,0,0,0.2),
		0px 18px 16px 6px rgba(0,0,0,0.28);
  border-radius:	6px;  

}

/*Videos sin login*/
.avisologin1 .avisologin{
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 60px;
  font-weight: bold;
  line-height: 160px;
  margin-left: -5px;
  background-color: rgba(102, 178, 255, 0.4);
  top: 370px;
  left: 50px;
  font-family: 'poppins',sans-serif;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  padding: 5px;
}

.avisologin1 a{
  position: absolute;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  width: 370px;
  padding: 10px 20 px;
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 5px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  font-size: 40px;
  font-weight: 500;
  margin-left: 30px;
  top: 600px;
  left: 800px;
  text-justify: distribute-all-lines;
  font-family: 'poppins',sans-serif;
}

/*Banner*/

.imgbanner{
  position: relative;
  width: 100%;
  height: 1200px;
  border-bottom: 2px solid #fff;
}
 .h1banner{
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 50px;
  line-height: 160px;
  margin-left: -5px;
  bottom: 370px;
  left: 50px;
  font-family: 'poppins',sans-serif;
 
 }
.h2banner{
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 190px;
  line-height: 160px;
  margin-left: -10px;
  bottom: 250px;
  left: 50px;
  font-family: 'poppins',sans-serif;

  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url("../img/banner/back.png");
  -webkit-background-clip: text ;
  background-position: 0 0;
  animation: back 20s linear infinite ;
 
}

@keyframes back{
  100%{
    background-position: 2000px 0;
  }
}
.h3banner{
  position: absolute;
  color: rgb(255, 255, 255);
  width: 50%;
  font-size: 40px;
  font-weight: 500;
  bottom: 110px;
  left: 50px;
  text-justify: distribute-all-lines;
  font-family: 'poppins',sans-serif;
 
}
.banner1 a{
  position: absolute;
  color: rgb(255, 255, 255);
  width: 370px;
  padding: 10px 20 px;
  text-align: center;
  border: 2px solid #fff;
  text-decoration: none;
  border-radius: 5px;
 
  font-size: 40px;
  font-weight: 500;
  margin-left: 30px;
  bottom: 40px;
  left: 50px;
  text-justify: distribute-all-lines;
  font-family: 'poppins',sans-serif;
 
}
.banner1 .seccion2{
  position: absolute;
  color: rgb(255, 255, 255);
  width: 370px;
  padding: 10px 20 px;
  text-align: center;
  border: 2px solid #fff;
  text-decoration: none;
  border-radius: 5px;
 
  font-size: 40px;
  font-weight: 500;
  margin-left: 30px;
  bottom: 40px;
  left: 500px;
  text-justify: distribute-all-lines;
  font-family: 'poppins',sans-serif;
}

/*Login*/



.inicio {
  
    width: 100%;
    height:750px;
    background-color: #3b4465;
    text-align: center;
}

.inicio .usercreado{
  
  color: white;
  width: 400px;
  font-size: 20px;
  padding: 25px 0;
  border: 5px solid white;
  margin:0 auto;
  border-radius: 10px;
  

}

.inicio .welcome{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}


input[type="text"], input[type="password"]{
    outline: none;
    padding: 15px;
    display: block;
    width: 350px;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    box-shadow: 10px 20px 15px;
}

input[type="submit"]{
    padding: 10px;
    color: #fff;
    background-color: #0098cb;
    width: 350px;
    margin-top: 40px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 20px 15px rgb(0, 0, 0);
}

input[type="submit"]:hover{
    background-color: #00b8eb;
}

.error{
  background-color: #FF9185;
  font-size: 12px;
  padding: 10px;
}
.correcto{
  background-color: #A0DEA7;
  font-size: 12px;
  padding: 10px;
}

/*video tutoriales*/

.menuvideos{
  display: block;
  background-color: #edf2f4;
  
  text-align: center;
}

.menuvideos h1{
  font-size: 50px;
  padding-top: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.menuvideos h2{
  font-size: 40px;
  padding-top: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif
}
.menuvideos p{
  padding-top: 10px;
  
  width: 600px;
  margin: 10px auto;
  font-family:Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
  font-weight: bold;
}
.menuvideos img{
  margin-left: 10px;
  margin-bottom: 10px;
  border: 4px solid black;
}
.menuvideos iframe{
  border: 4px solid black;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/*footer*/

.footer-clean {

  padding:50px 0;
  height: 400px;
  width: 100%;
  background-color:#3b4465;
  color:white;
  
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}   



/*productos*/
main{

background-color: #ffffff;
text-align: center;
margin-bottom: 100px;
width: 85%;
align-items: center;
align-content: center;


}

main .componentes{
  
  width: 250px;
  height: 200x;
  background-color: #78CAD2;
  z-index: 0;
  margin-left: 40px;
  border-radius: 10px;
  top: 60px;
  left: 30px;
  box-shadow:
  29px 28.1px 9.7px rgba(0, 0, 0, 0.06),
  60px 58px 31px rgba(0, 0, 0, 0.026)
;
}
main .componentes ul{
  padding: 0;

}
main .componentes ul li{
  list-style: none;

  
}

main .componentes ul li a{
    text-decoration: none;
    color: black;
    font-size: 24px; 
    font-family: Arial, Helvetica, sans-serif;

  }

.articulo{
  position: relative;
  display: inline-block;
  padding: 10px;
  padding-bottom: 25px;
  vertical-align: top;
  text-align: center;
  width: 300px;
  max-height: 700px;
  margin:  10px 30px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  
  
}
.articulo div{
  padding: 5px 0;
  
}
.articulo .imagen img{
 
  max-height: 150px;
  max-width: 250px;

}
.articulo .precio{
  display: inline-block;
  height: 120px;
}

.articulo .titulo{
  font-weight: bold;
  font-size: 18px;
  height: 80px;
}
button{
  border: 0;
  border-radius: 5px;
  background: rgb(255, 157, 10);
  cursor: pointer;
  padding: 10px;
}


#carrito-container{
  width: 380px;
  height: 700px;
  color: #000;
  background: white;
  border: solid 1px #000;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  right: 10px;
  margin-top: 10px;
  overflow: hidden;
  overflow-y: scroll;
  display: none;
  z-index: 1;
}

#tabla .fila{
  box-sizing: border-box;
  padding: 10px 0;
 
}

#tabla .fila .imagen{
  display: inline-block;
  width: 100px;
}

.link a
{
  background-color: #368ae9;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  
  
  
}
#tabla .fila .info{
  color: black;
  box-sizing: border-box;
  font-size: 14px;
  display: inline-block;
  padding-left: 20px;
  vertical-align: top;
  width: 273px;
  
}

#tabla .fila .info .nombre{
  font-size: 20px;
  font-weight: bold;
}
#tabla .fila .info .botones{
  padding: 20px 0 0 0;
  
}


#tabla p{
  font-size: 20px !important;
  text-align: center;
  font-weight: bold;
}



/*Botones*/

.cssbuttons-io-button {
  background: #00b8eb;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  left: 46%;
  top: 30px;
 }
 
 .cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
 }
 
 .cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
 }
 
 .cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
 }
 
 .cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
 }
 
 .cssbuttons-io-button:active .icon {
  transform: scale(0.95);
 }
 

 button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 10px;
  
  
 }

 
 button.btn-add {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: .5em 2em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
 }
 
 button.btn-add::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
 }
 
 button.btn-add:hover {
  background: #ffe9e9;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
 }
 
 button.btn-add:hover::before {
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0.5em, -1em);
  transform: translate3d(0, 0.5em, -1em);
 }
 
 button.btn-add:active {
  background: #ffe9e9;
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
 }
 
 button.btn-add:active::before {
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
 }

 .final{
  display: block;
  font-size: 50px;
  border: 4px solid black;
  text-align: center;
  margin-top: 300px;
  margin-bottom: 150px;
  margin-left: 250px;

 }