@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');


body{
    margin: 0;
    padding: 0;
    background-color: #3b4465;
    width: 100%;
   
    font-family: 'Open Sans', sans-serif;   
}
body section{
    background-color: #3b4465;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3em;
    line-height: 1.6;
    
}

nav .desktop{
 
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    background-color: black;
    color: white;
}
nav .desktop .logo a{
    padding: 0;
}

nav .desktop .imglogo{
    width: 80px;
    margin: 0px;
    padding: 0;
}

nav .desktop .logo{
    margin: 10px;
}
nav .desktop a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    
}
nav .primary{
    display: flex;
}
nav .primary a:hover{
    display: flex;
    background-color: #003566;
    color: white;
}

nav .secondary a:hover{
    display: flex;
    background-color: #003566;
    color: white;
}

nav .secondary{
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding-right: 20px;
    
    
    
}

nav .secondary .cerrarsesion{
    margin-bottom: 1px;
    padding:0 0 0 10px;
}

nav .secondary .registro{
   margin-right: 20px;
   margin-bottom: 1px;
    
}

.title{
  
    text-align: center;
    font-size: 40px;
    color: white;
    
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.container{
  
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
}

.container .card{
  
    width: 330px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin:20px;
    background-color: #457b9d;
    text-align: center;
    transition: all 0.25s;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card:hover{
    transform:  translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 330px;
    height: 220px;
 }
 .container .card h4{
    font-weight: 600;
    color: white;
 }
.container .card p {
    padding: 0 1rem;
    font-size: 14px;
    font-weight: 200;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

.container .card a {
  
    font-weight: 500;
    text-decoration: none;
    color: plum; 
    padding: 0px 15px;
    border-radius: 30px;
    
    
}


nav .desktop a .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48
}


/*Login*/



.inicio {
  
    width: 100%;
    height:750px;
    background-color: #3b4465;
    text-align: center;
}

.inicio .usercreado{
  
  color: white;
  width: 400px;
  font-size: 20px;
  padding: 25px 0;
  border: 5px solid white;
  margin:0 auto;
  border-radius: 10px;
  

}

.inicio .welcome{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}


input[type="text"], input[type="password"]{
    outline: none;
    padding: 15px;
    display: block;
    width: 350px;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    box-shadow: 10px 20px 15px;
}

input[type="submit"]{
    padding: 10px;
    color: #fff;
    background-color: #0098cb;
    width: 350px;
    margin-top: 40px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 20px 15px rgb(0, 0, 0);
}

input[type="submit"]:hover{
    background-color: #00b8eb;
}

.error{
  background-color: #FF9185;
  font-size: 12px;
  padding: 10px;
}
.correcto{
  background-color: #A0DEA7;
  font-size: 12px;
  padding: 10px;
}

/*footer*/

.footer-clean {
  padding:50px 0;
  height: 329px;
  background-color:#3b4465;
  color:white;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}   



/*productos*/
main{

background-color: #ffffff;
text-align: center;
height: 700px;
}

main .componentes{
  
  width: 250px;
  height: 200x;
  background-color: #78CAD2;
  z-index: 0;
  margin-left: 40px;
  border-radius: 10px;
  top: 60px;
  left: 30px;
  box-shadow:
  29px 28.1px 9.7px rgba(0, 0, 0, 0.06),
  60px 58px 31px rgba(0, 0, 0, 0.026)
;
}
main .componentes ul{
  padding: 0;

}
main .componentes ul li{
  list-style: none;

  
}

main .componentes ul li a{
    text-decoration: none;
    color: black;
    font-size: 24px; 
    font-family: Arial, Helvetica, sans-serif;

  }

.articulo{
  display: inline-block;
  padding: 10px;
  padding-bottom: 25px;
  vertical-align: top;
  text-align: center;
  width: 300px;
  margin:  10px 30px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  
  
}
.articulo div{
  padding: 5px 0;
  
}
.articulo .imagen img{
 
  height: 150px;

}

.articulo .titulo{
  font-weight: bold;
  font-size: 18px;
}
button{
  border: 0;
  border-radius: 5px;
  background: rgb(255, 157, 10);
  cursor: pointer;
  padding: 10px;
}

#carrito-container{
  width: 380px;
  color: #000;
  background: white;
  border: solid 1px #000;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  right: 10px;
  margin-top: 10px;
 
  display: none;
}

#tabla .fila{
  box-sizing: border-box;
  padding: 10px 0;
}

#tabla .fila .imagen{
  display: inline-block;
  width: 100px;
}

.link a
{
  background-color: #368ae9;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  
  
  
}
#tabla .fila .info{
  color: black;
  box-sizing: border-box;
  font-size: 14px;
  display: inline-block;
  padding-left: 20px;
  vertical-align: top;
  width: 273px;
}

#tabla .fila .info .nombre{
  font-size: 20px;
  font-weight: bold;
}
#tabla .fila .info .botones{
  padding: 20px 0 0 0;
  
}


#tabla p{
  font-size: 24px !important;
  text-align: center;
  font-weight: bold;
}



/*Botones*/

.cssbuttons-io-button {
  background: #00b8eb;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  left: 46%;
  top: 30px;
 }
 
 .cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
 }
 
 .cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
 }
 
 .cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
 }
 
 .cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
 }
 
 .cssbuttons-io-button:active .icon {
  transform: scale(0.95);
 }
 

 button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 15px;
 }
 
 button.btn-add {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: .5em 2em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
 }
 
 button.btn-add::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
 }
 
 button.btn-add:hover {
  background: #ffe9e9;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
 }
 
 button.btn-add:hover::before {
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0.5em, -1em);
  transform: translate3d(0, 0.5em, -1em);
 }
 
 button.btn-add:active {
  background: #ffe9e9;
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
 }
 
 button.btn-add:active::before {
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
 }